@font-face {
  font-family: starwars;
  src: url("../../assets/fonts/star-wars-font.ttf") format("truetype");
}

.header {
  font-family: starwars;
  height: 20em;
  background-image: url("../../assets/images/header-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: 2px solid white;
}

.header__navigation {
  padding-top: 280px;
}

.header__navigation--link {
  display: flex;
  gap: 15px;
  font-size: 24px;

  a {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;

    &.router-link-exact-active {
      color: gold;
    }
  }
}
